b{
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
}
.h1_text{
    padding:20px;
}
div{
    width: 200px;
    height: 200px;
    background-color: chocolate;
    margin:10px;
    background-image: url();
}